<div class="content-wrapper">
  <section class="content-header">
  </section>
  <section class="content ml-5 mr-4 mt-5">
    <div *ngIf="carrinho$"> 
      <div class="card" *ngFor="let item of carrinho$.itens">
          <div class="row no-gutters">
          <div class="col-auto">
              <img src="item.produto.foto" onerror="this.src='assets/img/produtos/4.jpg'" class="img-fluid" style="max-width: 120px" alt="">
          </div>
          <div class="col" style="height: auto;">
            <div class="card-block px-2" style="display: flex;height: 100%;">
              <div class="col" style="display: grid;align-items: center;height: 100%;max-width: 300px">
                <h4 class="card-title">Produto</h4>
                <h4 class="card-title">Nome Aluno</h4>
              </div>
              <div class="col py-2" style="display: grid;align-items: center;height: 100%;">
                <p class="card-text">Forma de Pgmt:</p>
                <p class="card-text">Parcelas:</p>
                <p class="card-text">Desconto:</p>
                <p class="card-text">Total:</p>
              </div>
              <a href="#" style="position:absolute;bottom:0;right:0;" class="mr-5 mb-2"><i class="far fa-trash-alt fa-xs mr-2"></i><small>Remover</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</div>